.home {
    margin-top: 2em;
    padding: 0em 4em;
    color: var(--secundary);
}

.title {
    text-align: center;
    margin: 2rem;
}

.products__table {
    display: flex;
    justify-content: center;
}