.port__button button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 2rem;
    gap: 10px;

    backdrop-filter: blur(2px);
    border-radius: 24px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    text-shadow: var(--shadow);
    transition: background-color 1s;
}

.icon {
    background-color: var(--tertiary);
}

.icon:hover {
    background-color: var(--quaternary);
}

.noicon {
    background-color: var(--tertiary);
}

.noicon:hover {
    background-color: var(--quaternary);
}