.menu {
    margin-top: 2em;
    padding: 0em 4em;
}

.title {
    color: var(--secundary);
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.products__table {
    display: flex;
    justify-content: center;
}

.products {
    width: 300px;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.products img {
    width: 80%;
}


.port__btn-prc {
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
}